body {
    background-color: #990909;
    color: white;
}

header {
    text-align: center;
}

main {
    margin-top: -15px;
}

footer {
    background-color: #E95B11;
    text-align: center;
    font-size: 20px;
    margin-top: 7%;
}

footer div span a {
    text-decoration: none;
    color: white;
}

nav {
    background-color: black;
    margin-top: -20px;
}

nav ul {
    display: inline-flex;
    list-style-type: none;
    padding-top: 15px;
    padding-bottom: 5px;
}

nav ul li {
    margin-left: 10px;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}


.main {
    margin: 30px 170px 10px 255px;
    font-size: 18px;
}

.leftaside {
    background-color: #7D0909;
    min-height: 350px;
    min-width: 250px;
    margin-top: -10px;
    float: left;
}

.leftaside ul {
    list-style-type: none;
    margin-left: -35px;
    line-height: 30px;
    text-decoration: dashed;
}

.leftaside ul li a {
    color: #E95B11;
}

.rightaside {
    float: right;
    background-color: white;
    color: black;
    width: 160px;
    height: 330px;
    margin-top: -10px;
    
}
aside h1 {
    text-align: center;
    background-color: #BDBDBD;
    height: 20px;
    margin: 0px;
    padding: 0px;
    font-size: 18px;
}

hr {
    width: 80px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.upperhr {
    margin-top: 5px;
}